NEXT_PUBLIC_SUPABASE_URL=https://tu-proyecto.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=tu_anon_key
SUPABASE_SERVICE_ROLE_KEY=tu_service_role_key

NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_OBORO_WHATSAPP_NUMBER=573104040859

WOMPI_PUBLIC_KEY=pub_test_xxx
WOMPI_INTEGRITY_SECRET=integrity_test_xxx
WOMPI_EVENT_SECRET=event_test_xxx
WOMPI_CHECKOUT_URL=https://checkout.wompi.co/p/

CRON_SECRET=crea_un_token_largo_y_privado
META_WHATSAPP_API_VERSION=v24.0
META_WHATSAPP_PHONE_NUMBER_ID=tu_phone_number_id
META_WHATSAPP_ACCESS_TOKEN=tu_access_token_permanente
META_WHATSAPP_VERIFY_TOKEN=crea_un_token_para_verificar_webhook
META_WHATSAPP_TEMPLATE_RECORDATORIO=recordatorio_cita
META_WHATSAPP_TEMPLATE_RECORDATORIO_NEGOCIO=recordatorio_negocio
META_WHATSAPP_TEMPLATE_LANGUAGE=es_CO
